

/******************
* THEMING OF TEMPLATE
*******************/


/* MAIN SITE */

.wrapper {
    padding-top: 60px;
    padding-bottom: 90px;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.wrapper.read {
    background-color: #fff;
}

.page.content {
    padding-bottom: 60px;
}

.submit-petition, .add-update {
    padding: 38px 0;
}

.submit-petition .submit-petition-title .content,
.add-update .add-update-title .content {
    padding: 20px 0;
    font-size: 32px;
}


/* SEMANTIC UI REWRITE */

.ui.menu .item:before {
    width: 0;
}

.ui.breadcrumb {
    padding: 20px 0
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
    border-radius: 500rem !important;
}

.respon-message {
    padding-bottom: 10px;
}

.header-menu,
.search-menu {
    background: #fff !important;
    border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
    height: 60px !important;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15) !important;
    z-index: 1000 !important;
    transition: top 0.2s ease-in-out !important;
}

.nav-up {
    top: -60px !important;
}

#mobile-sign-btn {
    transition: bottom 0.2s ease-in-out !important;
}

.sign-btn-down {
    bottom: -66px !important;
}

.search-menu {
    z-index: 1001 !important;
}

.petition-content {
    height: 150px;
}

.petition-content .description {
    color: rgba(0, 0, 0, .68);
}

.petition-footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 26%);
    position: absolute;
    width: 100%;
    padding-top: 30px;
    bottom: 0;
}

#send-comment {
    position: absolute !important;
    right: 1.5% !important;
    top: 10px !important;
    box-shadow: none !important;
    background-color: #fff !important;
}

#isDesc {
    padding: 0 1px;
}

.menu-home a,
.user-menu {
    color: rgba(255,255,255,.7) !important;
}

.header-menu .item a,
.menu-home .nav-submenu .item a,
.category-menu .item a,
.category-menu .nav-submenu .item a {
    color: rgba(0,0,0,.87);
}

.wp-editor-tools {
    background: #f5f5f5;
    padding-top: 5px;
    padding-left: 5px;
}
.decision-search .results {
    width: 96% !important;
    margin-top: -10px !important;
    margin-left: 1rem !important;
}
.decision-search .results .result .image {
    border-radius: 50% !important;
    width: 2.5em !important;
    height: 2.5em !important;
}

.mobile-menu-item {
    box-shadow: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgba(34,36,38,.1) !important;
}

.mobile-menu-item .item {
    padding: .92857143em 1.14285714em !important;
    font-size: 1rem !important;
}

.mobile-menu-item .item .title>.dropdown.icon {
    margin: 0 .25rem 0 0 !important;
}

.mobile-menu-item.mobile-submenu {
    margin-top: 0 !important;
}

.mobile-menu-item .mobile-submenu-item {
    margin-right: -15px !important;
}

.infomation-header {
    font-size: 2em !important;
    font-weight: 400 !important;
}

.title-divider {
    display: inline-block;
    width: 80px;
    height: 3px;
    margin: 0px 0 20px 0;
    background-color: #ccc;
}

.title-divider.none {
    width: 0px !important;
    height: 0px !important;
}

.title-divider.long {
    width: 200px !important;
}

.title-divider.full {
    width: 100% !important;
}

.similar-content {
    height: 140px;
}


/* Icon box */

.icon-box:hover, .petition-card:hover {
    box-shadow: 2.75px 7.52px 20px 0px rgba(0, 0, 0, 0.14) !important;
    -webkit-transform: translate(0, -3px) !important;
    -moz-transform: translate(0, -3px) !important;
    -ms-transform: translate(0, -3px) !important;
    -o-transform: translate(0, -3px) !important;
    transform: translate(0, -3px) !important;
    transition: all .3s ease-in-out !important;
}

.icon-box .icon-header img {
    width: 6.2em;
    margin-bottom: 2em;
}

/* PETITION LIST */

.petition-list-card:hover {
    box-shadow: 1.75px 2.52px 20px 0 rgba(0,0,0,.14) !important;
    transition: all .3s ease-in-out !important;
}

.petition-list-card .place {
    display: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.petition-list-card:hover .place {
    display: block;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* BJAX STYLE */

.bjax-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
    color: #788188;
}
.bjax-bar {
    border-top: 1px solid #eaeef1;
    border-width: 2px;
    border-color: #60bed1;
}
.bjax-bar.bjax-bar-error {
    border-color: #d9534f;   
}
.bjax-backdrop-error {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #788188;
    text-align: center;
}

.bjax-loading-wrapper {
    position: absolute;
    top: 40%;
    left: 49%;
}


/* HOME SLIDESHOW */

#hero-container {
    background-color: #000;
    height: 675px;
    position: relative;
}

#none-hero-container {
    height: 375px;
    position: relative;
}

#none-hero-container-feature {
    height: 120px;
    position: relative;
}

#page-hero-container {
    background-color: #333;
    height: 350px;
    position: relative;
}

.page-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    height: 350px;
}

#blog-hero-container {
    background-color: #fff;
    height: 675px;
    position: relative;
}

.blog-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    height: 675px;

}

.page-hero,
.blog-hero {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

#slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 675px;
}

#slideshow > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}

.slideshowShadow, .post-shadown, .page-shadown {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}


/* BLOG HEADER AND POST */

.site__wrapper {
    position: relative;
    padding-top: 100px;
    z-index: 6
}

.site__wrapper .grid {
  float: none;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;
}
@media screen and (min-width: 40.063em) {
  .site__wrapper .grid {
    float: left;
    width: 33.333%;
  }
}

.site__wrapper .grid .card .card__image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  min-height: 248px;
  max-height: 502px;
  overflow: hidden;
  position: relative;
}
.site__wrapper .grid .card .card__image > img {
  display: block;
  margin-bottom: 0;
  width: 100%;
  height: 250px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.site__wrapper .grid .card .card__image:hover > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.site__wrapper .grid .card .card__title {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.site__wrapper .grid .card .card__title:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.site__wrapper .grid .card .card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.site__wrapper .grid .card .card__overlay--primary {
  background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
  z-index: 2;
}

.site__wrapper .grid .card .card__overlay--secondary {
  background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), rgba(41, 182, 246, 0.8));
  z-index: 2;
}

.site__wrapper .grid .card .card__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
}

.site__wrapper .grid .card .card__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;
}
.site__wrapper .grid .card .card__meta.card__meta--last {
  margin-bottom: 0;
}
.site__wrapper .grid .card .card__meta li {
  color: #f8f8f8;
  display: inline;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 1em;
  font-size: 1em;
}
.site__wrapper .grid .card .card__meta li:not(:last-child):after {
  content: "\25cf";
  font-style: normal;
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  right: -0.6em;
}
.site__wrapper .grid .card .card__meta li > a {
  color: #f8f8f8;
}

#share-post {
    float: right;
    margin-top: 4em;
}


/* HOMEPAGE HEADER */

.home-header {
    position: absolute;
    width: 100%;
    z-index: 1060;
}

.home-header.map {
    background: rgba(0, 0, 0, 0.50);
}

.home-logo {
    float: left;
}

.home-logo a,
.no-touch .home-logo a:hover {
    color: #fff;
    font-size: 18px;
}

.home-logo span {
    font-size: 34px;
}

.home-logo img {
    max-height: 40px;
    width: auto;
}

/* HOME CAPTION */

.home-caption {
    position: relative;
    width: 100%;
    top: 225px;
    left: 0;
    z-index: 10;
}

.home-title {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}

.home-subtitle {
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.home-cta-button {
    margin-left: 5px !important;
}

/* PAGE CAPTION */

.page-caption {
    position: absolute;
    top: 38%;
    z-index: 10;
    width: 100%
}

.page-title,
.post-title {
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 46px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.page-title {
    margin-top: 25px;
    font-size: 38px;
}

.page-profile {
    padding-top: 30px
}

.page-profile .avatar {
    width: 100px;
    float: left;
}

.page-profile .name {
    color: #fff;
    padding: 10px;
}

.page-profile .address {
    color: #fff;
}


/* POST ARRTICLE */

.f-pn-articles {
    border: 1px solid #e8e8e8;
    margin: 50px 0;
}

.f-p-article {
    display: block;
    width: 50%;
    float: left;
    text-align: right;
    padding: 20px;
    border-right: 1px solid #e8e8e8;
    position: relative;
    min-height: 100px;
}

.f-n-article {
    display: block;
    width: 50%;
    float: left;
    text-align: left;
    padding: 20px;
    position: relative;
    min-height: 100px;
}

.fpna-title {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 10px;
    padding-bottom: 10px;
}

.fpna-header {
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #333;
}

.no-touch .f-p-article:hover .fpna-header,
.no-touch .f-n-article:hover .fpna-header {
    color: #0eaaa6;
}

.f-p-article .fpna-header {
    margin-left: 30px;
}

.f-n-article .fpna-header {
    margin-right: 30px;
}

.pn-icon {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    margin-top: -18px;
}

.f-p-article .pn-icon {
    left: 5px;
}

.f-n-article .pn-icon {
    right: 5px;
}


/* HOME FEATURE POST */

.home-feature {
    position: absolute;
    width: 100%;
    top: 545px;
    z-index: 10;
}

.home-feature.none-hero {
    top: 225px;
}

.home-spotlight {
    margin-top: 380px;
    margin-bottom: 60px
}

.feature-footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 26%);
    position: absolute;
    width: 100%;
    padding-top: 40px;
    bottom: 0;
}

.update-excertp {
    font-size: 16px;
    line-height: 24px;
}

.entry-content {
    font-size: 18px !important;
    line-height: 24px !important;
}

.petition-title-block {
    padding: 38px 0 !important;
}

/* MDEIA UPLOAD */

.box-upload {
    border: 2px dashed #dbd9db;
}


/* ADD FILEDS */

.remove-field {
    position: relative;
    z-index: 999;
    margin-top: 22px;
    margin-left: -65px;
}

.letter-title {
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 10px 0;
}


/* COLOR OF TEXT */

.text.white,
.text.white a {
    color: #fff !important;
}

.text.red,
.text.red a {
    color: #B03060 !important;
}

.text.orange,
.text.orange a {
    color: #FE9A76 !important;
}

.text.yellow,
.text.yellow a {
    color: #FFD700 !important;
}

.text.olive,
.text.olive a {
    color: #32CD32 !important;
}

.text.green,
.text.green a {
    color: #016936 !important;
}

.text.teal,
.text.teal a {
    color: #008080 !important;
}

.text.blue,
.text.blue a {
    color: #0E6EB8 !important;
}

.text.violet,
.text.violet a {
    color: #EE82EE !important;
}

.text.purple,
.text.purple a {
    color: #B413EC !important;
}

.text.pink,
.text.pink a {
    color: #FF1493 !important;
}

.text.brow,
.text.brow a {
    color: #A52A2A !important;
}

.text.grey,
.text.grey a {
    color: #A0A0A0 !important;
}

.text.black,
.text.black a {
    color: #333333 !important;
}

.text.uppercase {
    text-transform: uppercase;
}


/* BACKGROUND COLOR */

.color.white {
    background-color: #fff !important;
}

.color.red {
    background-color: #B03060 !important;
}

.color.orange {
    background-color: #FE9A76 !important;
}

.color.yellow {
    background-color: #FFD700 !important;
}

.color.olive {
    background-color: #32CD32 !important;
}

.color.green {
    background-color: #016936 !important;
}

.color.teal {
    background-color: #008080 !important;
}

.color.blue {
    background-color: #0E6EB8 !important;
}

.color.violet {
    background-color: #EE82EE !important;
}

.color.purple {
    background-color: #B413EC !important;
}

.color.pink {
    background-color: #FF1493 !important;
}

.color.brow {
    background-color: #A52A2A !important;
}

.color.grey {
    background-color: #A0A0A0 !important;
}

.color.silver {
    background-color: #F2F3F5 !important;
}

.color.black {
    background-color: #333 !important;
}


/*  FONT STYLE AND SIZE */

.font.tiny {
    font-size: 12px
}

.font.small {
    font-size: 14px
}

.font.medium {
    font-size: 16px;
    line-height: 24px
}

.font.large {
    font-size: 18px
}

.font.big {
    font-size: 26px;
    line-height: 32px;
}

.font.massive {
    font-size: 32px;
    line-height: 38px
}

.font.letter {
    font-family: "Times New Roman", serif;
}


/* TRUNCATION */

.truncate {
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* SLICK SLIDER */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    margin: 0 0.75em;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Icons';
    font-size: 50px;
    line-height: 1;

    opacity: .75;
    color: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -30px;
}
[dir='rtl'] .slick-prev {
    right: -30px;
    left: auto;
}
.slick-prev:before {
    content: '\f104';
}
[dir='rtl'] .slick-prev:before {
    content: '\f105';
}

.slick-next {
    right: -30px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -30px;
}
.slick-next:before {
    content: '\f105';
}
[dir='rtl'] .slick-next:before {
    content: '\f104';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'Icons';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\f111';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}


/* TOPICS CARD */
.topic-cards {
    display: block;
    margin-bottom: 30px;
}
.topic-card.snip {
    font-family: 'Lato', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    height: 125px;
    border-radius: .28571429rem;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: left;
}
.topic-card.snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.topic-card.snip img {
    max-width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    vertical-align: top;
    opacity: .2;
    filter: grayscale(70%);
}

.topic-card.snip .caption {
    position: absolute;
    padding: 20px 20px;
    bottom: 0;
    left: 0;
}
.topic-card.snip h3,
.topic-card.snip p {
    color: #fff !important;
    margin: 0;
    padding: 0;
}
.topic-card.snip h3 {
    margin-bottom: 8px;
    display: inline-block;
}
.topic-card.snip p {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}
.topic-card.snip .follow-topic {
    position: absolute;
    bottom: 25px;
    right: 20px;
    border-radius: 10em;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    box-shadow: 0 0 0 2px #fff inset!important;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}

.topic-card.snip .follow-topic.following {
    background-color: #2185d0;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset !important;
    text-shadow: none;
    background-image: none;
}

.topic-card.snip .follow-topic.follow:hover {
    background-color: #e0e1e2;
    color: rgba(0,0,0,.6);
}


.topic-card.snip:hover img,
.topic-card.snip.hover img {
    opacity: .05;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.topic-card.snip:hover button,
.topic-card.snip.hover button {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}



.topic-card.snip.category {
    margin: 1px;
    height: 200px;
}

.topic-card.snip.category img {
    max-width: 125%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    vertical-align: top;
    opacity: .2;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.topic-card.snip.category:hover img,
.topic-card.snip.category.hover img {
    opacity: .1;
    -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}


/* BACK TO TOP */

#back-to-top {
    position: fixed;
    z-index: 101;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    text-decoration: none;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

#back-to-top:hover {
    color: #000;
}

#back-to-top.show {
    opacity: 1;
}

/* TESTIMONIAL */

.testimonial-content {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    padding: 8px;
}

.testimonial-author {
    font-size: 16px;
    font-weight: 400;
    padding: 0 8px;
}

.testimonial-author .testimonial-job {
    font-style: italic;
    font-weight: 300;
}

/* PARRALLAX */

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.jarallax .shadow {
    position: absolute;
    z-index: -99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* CONTACT FORM 7 */

.wpcf7 {
    position: relative;
    max-width: 100%;
}

.wpcf7 > p {
    margin: 1em 0em;
}

.wpcf7-form label {
    display: block;
    margin: 0 0 .28571429rem;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

input.wpcf7-form-control.wpcf7-text,
textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    vertical-align: top;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.67861429em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}

input:focus.wpcf7-form-control.wpcf7-text,
textarea:focus.wpcf7-form-control.wpcf7-textarea {
    color: rgba(0, 0, 0, 0.95);
    border-color: #85B7D9;
    border-radius: 0.28571429rem;
    background: #FFFFFF;
    box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}

textarea:focus.wpcf7-form-control.wpcf7-textarea {
    -webkit-appearance: none;
}

input.wpcf7-form-control.wpcf7-submit {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

div.wpcf7-response-output {
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #F8F8F9;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
}

div.wpcf7-mail-sent-ok {
    background-color: #FCFFF5;
    color: #2C662D;
    box-shadow: 0 0 0 1px #A3C293 inset,0 0 0 0 transparent;
    border: none !important;
}

div.wpcf7-mail-sent-ng {
    box-shadow: 0 0 0 1px #C9BA9B inset,0 0 0 0 transparent;
    background-color: #FFFAF3;
    color: #573A08;
    border: none !important;
}

div.wpcf7-spam-blocked {
    box-shadow: 0 0 0 1px #E0B4B4 inset,0 0 0 0 transparent;
    background-color: #FFF6F6;
    color: #9F3A38;
    border: none !important;
}

div.wpcf7-validation-errors {
    box-shadow: 0 0 0 1px #C9BA9B inset,0 0 0 0 transparent;
    background-color: #FFFAF3;
    color: #573A08;
    border: none !important;
}


/* RESPONSIVE */

@media only screen and (min-width: 992px) {
    .feature-content {
        padding-top: 15px !important;
        height: 285px !important;
    }
    .petition-title,
    .post-title {
        font-size: 42px;
    }
    .comment-input {
        width: 92% !important;
        padding: 10px !important;
        font-weight: 400 !important;
        overflow: hidden !important;
    }
    .petition-list-card .list-petition-title {
        padding-top: 15px !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .feature-content {
        height: none !important;
    }
    .home-spotlight {
        margin-top: 128px !important;
    }
    .update-excertp {
        font-size: 14px !important;
    }
    .entry-content {
        font-size: 16px !important;
    }
    .petition-title,
    .post-title {
        font-size: 28px !important;
        line-height: 36px !important;
    }
    .comment-input {
        width: 92% !important;
        padding: 10px !important;
        font-weight: 400 !important;
        overflow: hidden !important;
    }
    #send-comment {
        background-color: transparent !important;
    }
    .feature-navigation {
        display: none;
    }
    .bjax-loading-wrapper {
        left: 48.5%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    #back-to-top {
        display: none !important;
    }
    .user-menu-label {
        display: none !important;
    }
    .slideshowShadow {
        z-index: 0 !important;
    }
    .update-excertp {
        font-size: 14px !important;
    }
    .entry-content {
        font-size: 16px !important;
    }
    .petition-title-block {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .petition-title,
    .post-title {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    .comment-input {
        width: 100% !important;
        padding: 10px !important;
        font-weight: 400 !important;
        overflow: hidden !important;
    }
    .ui.container.mobile-full {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .ui.container.mobile-full .ui.breadcrumb {
        padding-left: 10px !important;
    }
    .ui.container.mobile-full .ui.grid.mobile-full {
        margin: 0 !important;
    }
    .ui.container.mobile-full .ui.grid.mobile-full .column.mobile-full {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .ui.container.mobile-full .ui.grid.mobile-full .column.mobile-full .ui.segments {
        border-left: 0 !important;
        border-right: 0 !important;
        border-radius: 0 !important;
    }
    #control-menu {
        overflow: scroll !important;
    }
    .feature-navigation {
        display: none;
    }
    .not-found {
        padding: 0 10px;
    }
    .bjax-loading-wrapper {
        left: 45%;
    }
    slick-next slick-arrow {
        display: none !important;
    }
}

